
.gradle/*.*
.idea/workspace.xml

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
extras/*
.idea/*
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/support_annotations_21_0_2.xml
.idea/libraries/support_annotations_21_0_3.xml
.idea/libraries/support_v4_21_0_2.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
